<div class="container dark">
  <div class="row">
    <div class="col-sm">

      <ul *ngIf="Cliente" class="list-group text-dark mb-3">

        <li class="list-group-item active">{{Cliente.nombre}}</li>
        <li class="list-group-item">{{Cliente.apellido}}</li>
        <li class= "list-group-item">{{Cliente.createAT}}</li>
        <li class="list-group-item">{{Cliente.email}}</li>

      </ul>

      <div class="input-group">
        <div class="custom-file">
          <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile04">Selecciona una foto</label>
        </div>
        <div class="input-group-append">
          <button [disabled]="!fotoSeleccionada" (click)="subirFoto()" class="btn btn-outline-info" type="button" id="inputGroupFileAddon04">Subir
            Foto</button>
        </div>
      </div>

    </div>
     <div class="col-sm">
      <img class="img-tumbnail rounded" *ngIf="Cliente?.foto" src="http://localhost:8080/api/uploads/img/{{Cliente.foto}}" alt="{{Cliente.foto}}" style="width: 100%;">

     </div>
  </div>

</div>
