<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">

    <div>
      <ul class="alert alert-danger" *ngIf="errores?.length > 0">
        <li *ngFor="let err of errores">
          {{err}}
        </li>
      </ul>
    </div>

    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre">
        </div>

      </div>
      <div class="form-group row">
        <label for="Apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido">
        </div>

      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email">
        </div>

      </div>

      <div class="form-group row">
        <label for="createAT" class="col-form-label col-sm-2">fecha </label>
        <div class="col-sm-6">
          <input type="date" class="form-control" [(ngModel)]="cliente.createAT" name="createAT">
        </div>

      </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <div>
            <button class="btn btn-primary" role="button" (click)="create();"
              *ngIf="!cliente.id else elseBlock">Crear</button>
            <ng-template #elseBlock><button class="btn btn-primary" role="button"
                (click)="actualizar();">Actualizar</button></ng-template>


            <button class="btn btn-rounded btn-info" type="button" [routerLink]="['/clientes']"
              style="top: 5px;">regresar</button>
          </div>
        </div>
      </div>
    </form>
  </div>


</div>
